.add-btn {
    background-color: #85aef5;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    transition: 0.3s;
}

.add-btn:hover {
    background-color: #3b82f6;
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
}