.experience-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: 1.5rem;
    
}

.experience-form-container {
    position: relative;
}

.experience-form-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 20%;
    width: 60%;
    height: 1px;
    background: lightgray;
   
}

.experience-form {
    display: flex;
    justify-content: center;
    width: 100%;
}

.experience-form button {
    width: 75%;
}

.experience-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 75%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 24px;
    padding: 2rem;
}

.experience-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
}